body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #333333;
}

canvas {
	border: 4px solid white;
	position: absolute;
}

#notMoving {
	z-index: 1;
}

#moving {
	z-index: 2;
}
